.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  color: white;
}

.Notification {
  position: fixed;
  top: 25px;
  left: 0;
  z-index: 9999;
}

.App-subheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 15%;
  margin-right: 10%;
}

.App-subheader h1 {
  margin: 0;
}

.App-subheader h2 {
  margin: 0;
}

.SubTitle {
  font-size: calc(8px + 2vmin);
}

a {
  text-decoration: none;
}

a:link {
  color: yellow;
}

a:visited {
  text-decoration: none;
  color: orange;
}

a:hover {
  text-decoration: none;
  border-bottom: 2px solid;
  color: darkorange;
}

a:active {
  text-decoration: none;
  color: teal;
}

.StoryTemplate {
  background-color: #f2eecb;
  border: 3px solid rgb(80, 78, 78);
}

.StoryPartition {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.CenterPartition {
  width: 100%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.GenerationButtons {
  display: flex;
  margin-bottom: 22%;
  margin-right: 5%;
  flex-direction: column;
  justify-content: center;
}

.ImageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ImageBoxHeader {
  font-size: calc(6px + 2vmin);
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame {
  display: inline-block;
  width: 512px;
  height: 260px;
  background: rgb(80, 78, 78);
  border: #282c34;
  border-width: 2px;
}

.promptArea {
  display: flex;
  justify-content: center;
}

.Editor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.TextEditors {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.UserEditor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.UserEditorHeader {
  font-size: calc(6px + 2vmin);
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AIEditorHeader {
  font-size: calc(6px + 2vmin);
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AIEditor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.EditingOptions {
  width: 100%;
  background: #f1e8a5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.OptionsHeader {
  font-size: calc(6px + 2vmin);
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.OptionsSubHeader {
  margin-top: 0;
  margin-bottom: 1;
}

.CommandPrompt {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ExamplesHeader {
  font-size: calc(6px + 2vmin);
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ExamplesSubHeader {
  margin-top: 0;
  margin-bottom: 0;
}

.ExamplesSubHeaderT {
  margin-top: 0;
  margin-bottom: 1;
}